html{
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  width: 575;
  height: 385;
}

.container {
  display: flex;
  justify-content: space-around;
  background: #1B244A;
  /* border: 2px solid red; */

  color: white;
  font-family: Verdana;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
}

.container div{
  padding-top: 68px;
}

.digit-container{
  display: flex;
  justify-content: space-around;
  background: #1B244A;

}

p{
  background: black;
  width: 155;
  height: 120;
  top: 125px;
  left: 82px;
  border-radius: 5px;
  opacity: 1; 
  color: #F94F6D;

  font-family: 'Cursed Timer ULiL', monospace, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 90px;
  line-height: 126.67px;
  letter-spacing: 0%;
  text-align: center;
  
  margin-top: 15px;
  margin-bottom: 20px;
}

.button-container{
  display: flex;
  justify-content: space-around;
  background: #1B244A;
  /* border: 2px solid red; */
}

button{
  width: 45px;
  height: 45px;
  top: 271px;
  left: 82px;
  border-radius: 5px;
  opacity: 1;

  font-family: Cursed Timer ULiL;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 27.81px;
  text-align: center;
  
  background-color: #1B244A;
  color: #9AABD8;
  border-color: #9AABD8;
  margin: 3px;
  margin-bottom: 68px;
}
